.header {
  width: 100vw;
  height: clamp(80px, 25vw, 100px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.4s;
}
.header.active {
  background: rgba(0, 147, 107, 0.5);
}
.header__wrapper {
  height: 100%;
  width: 89.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo a {
  color: #fff;
  font-size: clamp(2.2rem, 7vw, 2.8rem);
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
}
.header .hamburger__button {
  width: clamp(40px, 12vw, 56px);
  height: clamp(80px, 25vw, 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  right: 5.25vw;
  top: 0;
  z-index: 2;
}
.header .hamburger__buttonWrapper {
  width: 100%;
  height: clamp(40px, 12vw, 56px);
  background: linear-gradient(135deg, rgb(0, 177, 107), rgb(70, 177, 0));
  position: relative;
  border-radius: 15%;
}
.header .hamburger__buttonWrapper span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: #fff;
  width: 70%;
  height: 2px;
  transition: all 0.4s;
}
.header .hamburger__buttonWrapper span:first-of-type {
  top: 25%;
}
.header .hamburger__buttonWrapper span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .hamburger__buttonWrapper span:nth-of-type(3) {
  bottom: 25%;
}
.header .hamburger__button.active span {
  width: 60%;
  left: 50%;
  transform-origin: center;
}
.header .hamburger__button.active span:first-of-type {
  transform: translateX(-50%) rotate(45deg);
  top: 50%;
}
.header .hamburger__button.active span:nth-of-type(2) {
  opacity: 0;
}
.header .hamburger__button.active span:nth-of-type(3) {
  transform: translateX(-50%) rotate(-45deg);
  top: 50%;
}
.header .hamburger__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}
.header .hamburger__menu::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 177, 107, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.header .hamburger__menuWrapper {
  margin-left: auto;
  width: 89.5%;
  height: 100%;
  background: linear-gradient(135deg, rgb(0, 177, 107), rgb(70, 177, 0));
  transform: translateX(100%);
  transition: all 0.4s;
}
.header .hamburger__menu.active {
  opacity: 1;
  visibility: visible;
}
.header .hamburger__menu.active::before {
  opacity: 1;
  visibility: visible;
}
.header .hamburger__menu.active .hamburger__menuWrapper {
  margin-left: auto;
  width: 89.5%;
  height: 100%;
  background: linear-gradient(135deg, rgb(0, 177, 107), rgb(70, 177, 0));
  transform: translateX(0);
}
.header .hamburger__menu .hamburger__logo {
  color: #fff;
  font-size: clamp(2.2rem, 7vw, 2.8rem);
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  height: clamp(80px, 25vw, 100px);
  width: 89.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto clamp(32px, 10vw, 80px);
}
.header .hamburger__menu .groupInformation {
  display: flex;
  flex-direction: column;
  width: 89.5%;
  margin: 0 auto;
  row-gap: clamp(18px, 5.6vw, 24px);
}
.header .hamburger__menu .groupInformation .groupnformationItem:nth-of-type(1) {
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: clamp(6px, 2vw, 12px);
  font-family: "Shippori Mincho", serif;
}
.header .hamburger__menu .groupInformation .groupnformationItem:nth-of-type(1) .groupActivities {
  font-size: clamp(12px, 3.75vw, 14px);
  font-weight: 400;
}
.header .hamburger__menu .groupInformation .groupnformationItem:nth-of-type(1) .groupName {
  font-size: clamp(2.2rem, 7vw, 2.8rem);
  font-weight: 500;
}
.header .hamburger__menu .groupInformation .groupnformationItem a {
  color: #fff;
  font-size: clamp(15px, 4.5vw, 18px);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: clamp(6px, 2vw, 12px);
       column-gap: clamp(6px, 2vw, 12px);
}
.header .hamburger__menu .groupInformation .groupnformationItem a .icon {
  width: clamp(18px, 5.6vw, 24px);
}
.header .hamburger__menu .groupInformation .groupnformationItem:nth-of-type(2) a .icon {
  transform: rotate(30deg);
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: clamp(32px, 10vw, 56px);
}
.header__navList {
  height: auto;
  width: 89.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.6px, 5vw, 24px);
}
.header__navItem {
  font-size: clamp(1.5rem, 4.7vw, 2rem);
  font-weight: 500;
}
.header__navItem a {
  color: #fff;
  padding-bottom: clamp(1.6px, 5vw, 24px);
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header__navItem .icon {
  display: none;
}

@media (width >= 900px) {
  .header .hamburger__button {
    display: none;
  }
  .header .hamburger__menu {
    width: auto;
    height: 100%;
    position: static;
    opacity: 1;
    visibility: visible;
  }
  .header .hamburger__menuWrapper {
    background: transparent;
    transform: translateX(0);
    margin: 0;
    width: auto;
  }
  .header .hamburger__menu .hamburger__logo {
    display: none;
  }
  .header .hamburger__menu .groupInformation {
    display: none;
  }
  .header__nav {
    position: static;
    width: auto;
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .header__navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: clamp(40px, 4vw, 56px);
         column-gap: clamp(40px, 4vw, 56px);
    margin: 0;
    width: 100%;
  }
  .header__navItem a {
    font-size: clamp(11px, 1.2vw, 18px);
    padding-bottom: 0;
    border-bottom: 0;
    margin-top: clamp(8px, 0.8vw, 12px);
    padding-bottom: clamp(8px, 0.8vw, 12px);
    box-sizing: border-box;
    position: relative;
  }
  .header__navItem a::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #00936B;
    position: absolute;
    bottom: 0;
    transform-origin: left;
    transform: scale(0, 1);
    transition: all 0.4s;
  }
  .header__navItem a:hover::before {
    transform: scale(1, 1);
  }
  .header__navItem:last-of-type a {
    padding: clamp(12px, 1.3vw, 16px) clamp(24px, 2.5vw, 32px);
    box-sizing: border-box;
    background: #00936B;
    border-radius: 40px;
    position: relative;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: clamp(8px, 0.8vw, 12px);
         column-gap: clamp(8px, 0.8vw, 12px);
    margin-top: 0;
    transition: all 0.4s;
    border: 1px solid #00936B;
  }
  .header__navItem:last-of-type a::before {
    display: none;
  }
  .header__navItem:last-of-type a:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
  .header__navItem:last-of-type a .icon {
    display: block;
    margin-top: clamp(1px, 0.1vw, 3px);
    width: clamp(11px, 1.2vw, 20px);
    fill: currentColor;
  }
}
.footer {
  background: #00936B;
  padding: clamp(32px, 10vw, 64px) 0;
}
.footer__wrapper {
  width: 89.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: clamp(32px, 10vw, 64px);
}
.footer__logo {
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: clamp(6px, 2.5vw, 12px);
  margin-bottom: clamp(16px, 7vw, 40px);
}
.footer__groupActivities {
  font-size: clamp(12px, 3.75vw, 14px);
  font-weight: 400;
}
.footer .footer__logoTitle {
  font-size: clamp(2.2rem, 7vw, 2.8rem);
  font-weight: 500;
}
.footer__groupInformation {
  display: flex;
  flex-direction: column;
  row-gap: clamp(8px, 2.5vw, 10px);
}
.footer__groupInformation .groupnformationItem {
  color: #fff;
  font-size: clamp(12px, 3.75vw, 18px);
  font-weight: 500;
  line-height: 1.5;
}
.footer__groupInformation .groupnformationItem a {
  color: #fff;
  font-size: clamp(14px, 4.375vw, 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: clamp(6px, 2.5vw, 12px);
       column-gap: clamp(6px, 2.5vw, 12px);
}
.footer__groupInformation .groupnformationItem .icon {
  display: inline-block;
  width: clamp(14px, 4.375vw, 22px);
  transform: rotate(15deg);
  margin-bottom: 5px;
}
.footer__groupInformation .groupnformationItem:nth-of-type(3) .icon {
  transform: rotate(0);
}
.footer__navList {
  display: flex;
  flex-direction: column;
  row-gap: clamp(12px, 3.75vw, 18px);
  margin-bottom: clamp(32px, 10vw, 64px);
}
.footer__navItem a {
  color: #fff;
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 500;
}
.footer .copyRight {
  font-size: clamp(10px, 3vw, 15px);
  font-weight: 500;
  color: #fff;
}

@media (width >= 900px) {
  .footer {
    height: min(50vh, 360px);
    display: flex;
    align-items: center;
    padding: 0;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
  }
  .footer a {
    transition: all 0.4s;
  }
  .footer a:hover {
    opacity: 0.7;
  }
  .footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__logo {
    margin: 0;
  }
  .footer .groupnformationItem {
    font-size: clamp(10px, 1vw, 16px);
  }
  .footer .groupnformationItem a {
    font-size: clamp(11px, 1.2vw, 17px);
    -moz-column-gap: clamp(4px, 0.4vw, 8px);
         column-gap: clamp(4px, 0.4vw, 8px);
  }
  .footer .groupnformationItem .icon {
    width: clamp(11px, 1.2vw, 17px);
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .footer__navList {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    -moz-column-gap: clamp(32px, 3.5vw, 64px);
         column-gap: clamp(32px, 3.5vw, 64px);
  }
  .footer__navItem a {
    color: #fff;
    font-size: clamp(11px, 1.2vw, 18px);
    font-weight: 500;
  }
  .footer .copyRight {
    font-size: clamp(10px, 1.1vw, 14px);
    width: 100%;
    text-align: right;
  }
}
.mainvisual {
  width: 100vw;
  height: 100dvh;
  position: relative;
}
.mainvisual__img {
  width: 100%;
  height: 100%;
}
.mainvisual__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainvisual .copy__wrapper {
  width: 89.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  color: #fff;
  text-shadow: 0px 0px 25px rgba(0, 177, 107, 0.5);
}
.mainvisual .copy__wrapper .main__copy {
  font-size: clamp(32px, 10vw, 56px);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: clamp(16px, 8.75vw, 24px);
}
.mainvisual .copy__wrapper .sub__copy {
  font-size: clamp(14px, 4.3vw, 22px);
  font-weight: 400;
  line-height: 2;
}

@media (width >= 900px) {
  .mainvisual .copy__wrapper {
    width: 89.5%;
    bottom: 13%;
  }
  .mainvisual .copy__wrapper .main__copy {
    font-size: clamp(40px, 4.5vw, 64px);
    margin-bottom: clamp(12px, 1.3vw, 20px);
  }
  .mainvisual .copy__wrapper .sub__copy {
    font-size: clamp(12px, 1.3vw, 18px);
  }
}
.about {
  background-image: url(../img/top/about__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  padding: clamp(80px, 25vw, 100px) 0;
  box-sizing: border-box;
}
.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
.about__wrapper {
  position: relative;
  width: 89.5%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: clamp(48px, 15vw, 72px);
  align-items: center;
}
.about__headingWrapper {
  margin-bottom: clamp(40px, 12.5vw, 64px);
  text-align: center;
}
@media (width >= 900px) {
  .about__headingWrapper {
    margin-bottom: clamp(40px, 3.5vw, 48px);
  }
}
.about__mainHeading {
  margin-bottom: clamp(11px, 3.75vw, 18px);
  font-size: clamp(28px, 8.75vw, 32px);
  font-weight: 500;
}
@media (width >= 900px) {
  .about__mainHeading {
    font-size: clamp(28px, 2.5vw, 36px);
  }
}
.about__subHeading {
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 400;
  text-transform: capitalize;
  color: #00936B;
}
@media (width >= 900px) {
  .about__subHeading {
    font-size: clamp(11px, 1.3vw, 18px);
  }
}
.about__description {
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 400;
  line-height: 2;
  text-align: center;
  margin-bottom: clamp(20px, 6.25vw, 24px);
}
@media (width >= 900px) {
  .about__description {
    font-size: clamp(11px, 1.15vw, 17px);
  }
}
.about__description .pc__br {
  display: none;
}
.about__description:last-of-type {
  margin-bottom: 0;
}
.about__imgArea {
  width: 100%;
  height: 65vw;
  position: relative;
}
.about__img {
  position: absolute;
}
.about__img:nth-of-type(1) {
  top: 5%;
  left: 0;
  width: 40%;
}
.about__img:nth-of-type(2) {
  top: 0;
  right: 3%;
  width: 45%;
}
.about__img:nth-of-type(3) {
  bottom: 0;
  left: 3%;
  width: 45%;
}
.about__img:nth-of-type(4) {
  bottom: 5%;
  right: 0;
  width: 45%;
}

@media (width >= 900px) {
  .about {
    height: 100vh;
  }
  .about__wrapper {
    justify-content: center;
  }
  .about__description {
    margin-bottom: clamp(16px, 1.7vw, 20px);
  }
  .about__description .pc__br {
    display: block;
  }
  .about__imgArea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .about__img {
    position: absolute;
    transform: translateY(-50%);
  }
  .about__img:nth-of-type(1) {
    top: calc(50% - 9vw);
    left: 0;
    width: 15%;
  }
  .about__img:nth-of-type(2) {
    top: calc(50% - 8vw);
    right: 3%;
    width: 18%;
  }
  .about__img:nth-of-type(3) {
    top: calc(50% + 13vw);
    left: 3%;
    width: 19%;
    bottom: auto;
  }
  .about__img:nth-of-type(4) {
    top: calc(50% + 12vw);
    right: 0;
    width: 20%;
    bottom: auto;
  }
}
.our-Activities {
  width: 100vw;
  background-image: url(../img/top/our-activities__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: clamp(80px, 25vw, 100px) 0;
  box-sizing: border-box;
  margin-bottom: clamp(80px, 25vw, 150px);
}
@media (width >= 900px) {
  .our-Activities {
    margin-bottom: clamp(100px, 11vw, 160px);
  }
}
.our-Activities__wrapper {
  width: 89.5%;
  margin: 0 auto;
}
.our-Activities .flex {
  margin-bottom: clamp(56px, 15vw, 80px);
}
.our-Activities__headingWrapper {
  margin-bottom: clamp(40px, 12.5vw, 64px);
}
@media (width >= 900px) {
  .our-Activities__headingWrapper {
    margin-bottom: clamp(40px, 3.5vw, 48px);
  }
}
.our-Activities__mainHeading {
  margin-bottom: clamp(11px, 3.75vw, 18px);
  font-size: clamp(28px, 8.75vw, 32px);
  font-weight: 500;
}
@media (width >= 900px) {
  .our-Activities__mainHeading {
    font-size: clamp(28px, 2.5vw, 36px);
  }
}
.our-Activities__subHeading {
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 400;
  text-transform: capitalize;
  color: #00936B;
}
@media (width >= 900px) {
  .our-Activities__subHeading {
    font-size: clamp(11px, 1.3vw, 18px);
  }
}
.our-Activities__listArea {
  display: flex;
  flex-direction: column;
  row-gap: clamp(56px, 15vw, 100px);
  align-items: flex-start;
}
.our-Activities__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(56px, 15vw, 100px);
}
.our-Activities__itemImg {
  margin-bottom: clamp(16px, 6.25vw, 32px);
}
.our-Activities__itemHeading {
  margin-bottom: clamp(12px, 3.75vw, 16px);
  font-size: clamp(20px, 6vw, 28px);
  font-weight: 500;
}
.our-Activities__itemDescription {
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 400;
  line-height: 2;
}
@media (width >= 900px) {
  .our-Activities__itemDescription {
    font-size: clamp(11px, 1.15vw, 17px);
  }
}
.our-Activities__button {
  width: 100%;
  text-align: center;
}
.our-Activities__buttonWrapper {
  padding: clamp(16px, 5vw, 24px) clamp(40px, 12.5vw, 80px) clamp(16px, 5vw, 24px) clamp(32px, 10vw, 64px);
  background: #00936B;
  border: 1px solid #00936B;
  border-radius: 40px;
  font-size: clamp(14px, 4.375vw, 22px);
  font-weight: 500;
  color: #fff;
  display: inline-block;
  position: relative;
  transition: all 0.4s;
}
.our-Activities__buttonWrapper::after {
  content: "";
  display: inline-block;
  width: 2.8%;
  height: 13%;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 52%;
  right: 12%;
  transform: translateY(-50%) rotate(-135deg);
  transition: all 0.4s;
}
.our-Activities__buttonWrapper:hover {
  background: #fff;
  border: 1px solid #000;
  color: inherit;
}
.our-Activities__buttonWrapper:hover::after {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
@media (width >= 900px) {
  .our-Activities__buttonWrapper {
    padding: clamp(16px, 1.7vw, 24px) clamp(40px, 3.5vw, 80px) clamp(16px, 1.7vw, 24px) clamp(28px, 3vw, 48px);
    font-size: clamp(13px, 1.4vw, 20px);
  }
}

@media (width >= 900px) {
  .our-Activities {
    padding: clamp(100px, 11vw, 160px) 0;
  }
  .our-Activities__headingWrapper {
    margin-bottom: 0;
  }
  .our-Activities .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: clamp(56px, 6vw, 80px);
  }
  .our-Activities__listArea {
    width: 70%;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-between;
  }
  .our-Activities__list {
    width: 45%;
    row-gap: 7vw;
  }
  .our-Activities__list:nth-of-type(2) {
    margin-top: 4vw;
  }
  .our-Activities__item {
    width: 100%;
  }
  .our-Activities__itemImg {
    margin-bottom: clamp(20px, 2.2vw, 24px);
  }
  .our-Activities__itemHeading {
    margin-bottom: clamp(12px, 1.3vw, 16px);
    font-size: clamp(20px, 2vw, 26px);
  }
}
.news {
  width: 100vw;
  margin-bottom: clamp(80px, 25vw, 150px);
}
@media (width >= 900px) {
  .news {
    margin-bottom: clamp(100px, 11vw, 160px);
  }
}
.news__wrapper {
  width: 89.5%;
  margin: 0 auto;
}
.news .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.news__headingWrapper {
  margin-bottom: clamp(40px, 12.5vw, 64px);
}
@media (width >= 900px) {
  .news__headingWrapper {
    margin-bottom: clamp(40px, 3.5vw, 48px);
  }
}
.news__mainHeading {
  margin-bottom: clamp(11px, 3.75vw, 18px);
  font-size: clamp(28px, 8.75vw, 32px);
  font-weight: 500;
}
@media (width >= 900px) {
  .news__mainHeading {
    font-size: clamp(28px, 2.5vw, 36px);
  }
}
.news__subHeading {
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 400;
  text-transform: capitalize;
  color: #00936B;
}
@media (width >= 900px) {
  .news__subHeading {
    font-size: clamp(11px, 1.3vw, 18px);
  }
}
.news__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(20px, 6.25vw, 24px);
  margin-bottom: clamp(56px, 15vw, 80px);
  width: 100%;
}
.news__item {
  display: flex;
  flex-direction: column;
  row-gap: clamp(8px, 2.5vw, 16px);
  padding-bottom: clamp(20px, 6.25vw, 24px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: auto;
}
.news__itemMeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: clamp(8px, 2.5vw, 16px);
       column-gap: clamp(8px, 2.5vw, 16px);
}
.news__itemDate {
  font-size: clamp(12px, 3.75vw, 14px);
  font-weight: 500;
}
.news__itemCategory {
  font-size: clamp(12px, 3.75vw, 14px);
  font-weight: 400;
  color: rgba(0, 147, 107, 0.7);
  text-transform: capitalize;
}
.news__itemTitle {
  font-size: clamp(18px, 5.625vw, 28px);
  line-height: 1.5;
  font-weight: 500;
}
.news__button {
  width: 100%;
  text-align: center;
}
.news__buttonWrapper {
  padding: clamp(16px, 5vw, 24px) clamp(40px, 12.5vw, 80px) clamp(16px, 5vw, 24px) clamp(32px, 10vw, 64px);
  background: #00936B;
  border: 1px solid #00936B;
  border-radius: 40px;
  font-size: clamp(14px, 4.375vw, 22px);
  font-weight: 500;
  color: #fff;
  display: inline-block;
  position: relative;
  transition: all 0.4s;
}
.news__buttonWrapper::after {
  content: "";
  display: inline-block;
  width: 2.8%;
  height: 13%;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 52%;
  right: 12%;
  transform: translateY(-50%) rotate(-135deg);
  transition: all 0.4s;
}
.news__buttonWrapper:hover {
  background: #fff;
  border: 1px solid #000;
  color: inherit;
}
.news__buttonWrapper:hover::after {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
@media (width >= 900px) {
  .news__buttonWrapper {
    padding: clamp(16px, 1.7vw, 24px) clamp(40px, 3.5vw, 80px) clamp(16px, 1.7vw, 24px) clamp(28px, 3vw, 48px);
    font-size: clamp(13px, 1.4vw, 20px);
  }
}

@media (width >= 900px) {
  .news .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .news__headingWrapper {
    margin-bottom: 0;
  }
  .news__list {
    display: flex;
    flex-direction: column;
    row-gap: clamp(20px, 2vw, 24px);
    margin-bottom: clamp(56px, 15vw, 80px);
    width: 75%;
    margin-left: auto;
  }
  .news__item {
    flex-direction: row;
    align-items: center;
  }
  .news__itemMeta {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: clamp(8px, 0.8vw, 16px);
         column-gap: clamp(8px, 0.8vw, 16px);
    margin-right: clamp(40px, 4.5vw, 64px);
  }
  .news__itemDate {
    font-size: clamp(11px, 1.2vw, 16px);
  }
  .news__itemCategory {
    font-size: clamp(10px, 1vw, 14px);
  }
  .news__itemTitle {
    font-size: clamp(16px, 1.3vw, 22px);
    width: 65%;
  }
}
.contactCta {
  width: 100vw;
  background-image: url(../img/common/contactCta-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: clamp(80px, 25vw, 100px) 0;
  box-sizing: border-box;
  margin-bottom: clamp(80px, 25vw, 150px);
  position: relative;
}
@media (width >= 900px) {
  .contactCta {
    margin-bottom: clamp(100px, 11vw, 160px);
  }
}
.contactCta::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 177, 107, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.contactCta__wrapper {
  width: 89.5%;
  margin: 0 auto;
  position: relative;
}
.contactCta__headingWrapper {
  margin-bottom: clamp(40px, 12.5vw, 64px);
  text-align: center;
  color: #fff;
}
@media (width >= 900px) {
  .contactCta__headingWrapper {
    margin-bottom: clamp(40px, 3.5vw, 48px);
  }
}
.contactCta__mainHeading {
  margin-bottom: clamp(11px, 3.75vw, 18px);
  font-size: clamp(28px, 8.75vw, 32px);
  font-weight: 500;
}
@media (width >= 900px) {
  .contactCta__mainHeading {
    font-size: clamp(28px, 2.5vw, 36px);
  }
}
.contactCta__subHeading {
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 400;
  text-transform: capitalize;
  color: #00936B;
  color: #fff;
}
@media (width >= 900px) {
  .contactCta__subHeading {
    font-size: clamp(11px, 1.3vw, 18px);
  }
}
.contactCta .ctaArea {
  background: rgba(255, 255, 255, 0.8);
  padding: clamp(48px, 15vw, 64px) 5.25%;
  box-sizing: border-box;
}
.contactCta .ctaArea .lead {
  width: 100%;
  text-align: center;
  font-size: clamp(14px, 4.375vw, 18px);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: clamp(16px, 6.25vw, 20px);
}
.contactCta .ctaArea .tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: clamp(8px, 2.5vw, 12px);
  margin-bottom: clamp(24px, 7.5vw, 32px);
}
.contactCta .ctaArea .tel .telNumber {
  font-size: clamp(26px, 8vw, 30px);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: clamp(8px, 2.5vw, 12px);
       column-gap: clamp(8px, 2.5vw, 12px);
}
.contactCta .ctaArea .tel .icon {
  display: inline-block;
  width: clamp(28px, 8.75vw, 32px);
  transform: rotate(15deg);
}
.contactCta .ctaArea .tel .receptionhours {
  font-size: clamp(12px, 3.75vw, 16px);
  font-weight: 500;
}
.contactCta .ctaArea .contactCta__button {
  width: 100%;
  text-align: center;
}
.contactCta .ctaArea .contactCta__buttonWrapper {
  padding: clamp(16px, 5vw, 24px) clamp(40px, 12.5vw, 80px) clamp(16px, 5vw, 24px) clamp(32px, 10vw, 64px);
  box-sizing: border-box;
  background: #00936B;
  border-radius: 40px;
  position: relative;
  color: #fff;
  overflow: hidden;
  -moz-column-gap: clamp(8px, 0.8vw, 12px);
       column-gap: clamp(8px, 0.8vw, 12px);
  margin-top: 0;
  transition: all 0.4s;
  border: 1px solid #00936B;
  display: inline-block;
  width: min(100%, 400px);
}
.contactCta .ctaArea .contactCta__buttonWrapper .icon {
  display: inline-block;
  margin: clamp(1px, 0.1vw, 3px) clamp(8px, 0.8vw, 12px) 0;
  width: clamp(14px, 4.375vw, 22px);
  fill: currentColor;
}
.contactCta .ctaArea .contactCta__buttonWrapper .button__text {
  font-size: clamp(14px, 4.375vw, 22px);
  font-weight: 500;
}

@media (width >= 900px) {
  .contactCta .ctaArea {
    width: 65%;
    margin: 0 auto;
    padding: clamp(56px, 6vw, 80px) 5.25%;
  }
  .contactCta .ctaArea .lead {
    font-size: clamp(13px, 1.4vw, 20px);
    margin-bottom: clamp(24px, 2.6vw, 40px);
  }
  .contactCta .ctaArea .lead br {
    display: none;
  }
  .contactCta .ctaArea .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    -moz-column-gap: clamp(20px, 2vw, 40px);
         column-gap: clamp(20px, 2vw, 40px);
  }
  .contactCta .ctaArea .tel {
    row-gap: clamp(8px, 2.5vw, 12px);
    margin-bottom: 0;
    width: 44%;
  }
  .contactCta .ctaArea .tel .telNumber {
    font-size: clamp(22px, 2vw, 36px);
    -moz-column-gap: clamp(4px, 0.4vw, 12px);
         column-gap: clamp(4px, 0.4vw, 12px);
  }
  .contactCta .ctaArea .tel .icon {
    width: clamp(22px, 2vw, 32px);
    display: inline-block;
    margin-top: 4px;
  }
  .contactCta .ctaArea .tel .receptionhours {
    font-size: clamp(10px, 1vw, 15px);
  }
  .contactCta .ctaArea .contactCta__button {
    width: 50%;
  }
  .contactCta .ctaArea .contactCta__buttonWrapper {
    padding: clamp(16px, 1.7vw, 24px) clamp(40px, 3.5vw, 80px) clamp(16px, 1.7vw, 24px) clamp(28px, 3vw, 48px);
    -moz-column-gap: clamp(8px, 0.8vw, 12px);
         column-gap: clamp(8px, 0.8vw, 12px);
    transition: all 0.4s;
  }
  .contactCta .ctaArea .contactCta__buttonWrapper:hover {
    background: #fff;
    border: 1px solid #000;
    color: #000;
  }
  .contactCta .ctaArea .contactCta__buttonWrapper .icon {
    width: clamp(13px, 1.4vw, 22px);
  }
  .contactCta .ctaArea .contactCta__buttonWrapper .button__text {
    font-size: clamp(13px, 1.4vw, 22px);
  }
}/*# sourceMappingURL=style.css.map */