// ==========================================================================
// 変数・ミックスイン読み込み
// ==========================================================================
@use "../common/variables" as *;
@use "../common/mixin" as *;

// ==========================================================================
// our-Activities__detailページ
// ==========================================================================
.our-Activities__detail {
  // 画像
  &Img {
    margin-bottom: clamp(16px, 6.25vw, 32px);
  }

  // 日付
  .label {
    font-size: clamp(12px, 3.75vw, 16px);
    font-weight: 500;
    color: $main-color;
    margin-bottom: clamp(8px, 2.5vw, 12px);
    display: inline-block;
  }

  // タイトル
  &Title {
    font-size: clamp(20px, 6vw, 28px);
    font-weight: 500;
    margin-bottom: clamp(40px, 12.5vw, 64px);
  }

  &Overview {
    font-size: clamp(20px, 6vw, 28px);
    font-weight: 500;
    margin-bottom: clamp(12px, 3.75vw, 20px);
  }

  &Description {
    @include description__style;
    margin-bottom: clamp(40px, 12.5vw, 64px);
  }

  // ボタン
  &Button {
    width: 100%;
    text-align: center;

    &Wrapper {
      @include button__style--back;
    }
  }
}

// ============================
// 900px~ PC
// ============================
@include mq(l) {
  .our-Activities__detail {
    width: 70%;
    margin: 0 auto;

    // 画像
    &Img {
      margin-bottom: clamp(12px, 1.3vw, 20px);
    }

    // 日付
    .label {
      font-size: clamp(12px, 3.75vw, 14px);
      margin-bottom: clamp(8px, 1vw, 12px);
    }

    // タイトル
    &Title {
      font-size: clamp(20px, 2vw, 24px);
      margin-bottom: clamp(40px, 3.5vw, 64px);
    }

    &Overview {
      font-size: clamp(20px, 2vw, 24px);
      margin-bottom: clamp(8px, 1vw, 12px);
    }

    &Description {
      @include description__style;
      margin-bottom: clamp(40px, 3.5vw, 64px);
    }
  }
}
