// ==========================================================================
// about 画像フェードイン
// ==========================================================================
.about__img {
  opacity: 0;
  visibility: hidden;
}

.our-Activities__item {
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
}

.news__item {
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
}
