// ==========================================================================
// メインビジュアル フェードイン
// ==========================================================================
.main__copy {
  opacity: 0;
  visibility: hidden;
}

.sub__copy {
  opacity: 0;
  visibility: hidden;
}

// ==========================================================================
// about 画像フェードイン
// ==========================================================================
.about__img {
  opacity: 0;
  visibility: hidden;
}

// ==========================================================================
// our-Activities リスト フェードイン
// ==========================================================================
.our-Activities__item {
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
}

// ==========================================================================
// news リスト フェードイン
// ==========================================================================
.news__item {
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
}
