// ==========================================================================
// 変数・ミックスイン読み込み
// ==========================================================================
@use "variables" as *;
@use "mixin" as *;

// ==========================================================================
// ヘッダー
// ==========================================================================

// ================================
// 320px~900px~ スマホ・タブレット
// ================================
.header {
  width: 100vw;
  height: clamp(80px, 25vw, 100px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.4s;

  // ファーストビューを超えたら背景表示
  &.active {
    background: rgba($color: $main-color, $alpha: 0.5);

    // ロゴ
    .header__logo--sub a {
      color: #fff;
    }
  }

  &__wrapper {
    height: 100%;
    width: 89.5%;
    margin: 0 auto;
    @include flex__row;
    align-items: center;
    justify-content: space-between;
  }

  // ロゴ
  &__logo {
    a {
      @include logo__style;
    }

    // 下層ページ ロゴ
    &--sub a {
      color: #000;
    }
  }

  // =========================
  // ハンバーガーメニュー
  // =========================

  // ハンバーガーボタン
  .hamburger__button {
    width: clamp(40px, 12vw, 56px);
    height: clamp(80px, 25vw, 100px);
    @include flex__row;
    align-items: center;
    position: fixed;
    right: 5.25vw;
    top: 0;
    z-index: 2;

    &Wrapper {
      width: 100%;
      height: clamp(40px, 12vw, 56px);
      background: $gradient;
      position: relative;
      border-radius: 15%;

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        background: #fff;
        width: 70%;
        height: 2px;
        transition: all 0.4s;

        // 1本目の線
        &:first-of-type {
          top: 25%;
        }

        // 2本目の線
        &:nth-of-type(2) {
          top: 50%;
          transform: translate(-50%, -50%);
        }

        // 3本目の線
        &:nth-of-type(3) {
          bottom: 25%;
        }
      }
    }

    // 開閉時
    &.active {
      span {
        width: 60%;
        left: 50%;
        transform-origin: center;

        // 1本目の線
        &:first-of-type {
          transform: translateX(-50%) rotate(45deg);
          top: 50%;
        }

        // 2本目の線
        &:nth-of-type(2) {
          opacity: 0;
        }

        // 3本目の線
        &:nth-of-type(3) {
          transform: translateX(-50%) rotate(-45deg);
          top: 50%;
        }
      }
    }
  }

  // メニュー
  .hamburger__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba($color: #00b16b, $alpha: 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
    }

    &Wrapper {
      margin-left: auto;
      width: 89.5%;
      height: 100%;
      background: linear-gradient(
        135deg,
        rgba(0, 177, 107, 1),
        rgba(70, 177, 0, 1)
      );
      transform: translateX(100%);
      transition: all 0.4s;
    }

    // 開閉時
    &.active {
      opacity: 1;
      visibility: visible;

      // 背景の透過
      &::before {
        opacity: 1;
        visibility: visible;
      }

      .hamburger__menuWrapper {
        margin-left: auto;
        width: 89.5%;
        height: 100%;
        background: linear-gradient(
          135deg,
          rgba(0, 177, 107, 1),
          rgba(70, 177, 0, 1)
        );
        transform: translateX(0);
      }
    }

    // ロゴ
    .hamburger__logo {
      @include logo__style;
      height: clamp(80px, 25vw, 100px);
      width: 89.5%;
      @include flex__row;
      align-items: center;
      margin: 0 auto clamp(32px, 10vw, 80px);
    }

    // グループ情報
    .groupInformation {
      @include flex__column;
      width: 89.5%;
      margin: 0 auto;
      row-gap: clamp(18px, 5.6vw, 24px);

      // 団体名
      .groupnformationItem:nth-of-type(1) {
        color: #fff;
        @include flex__column;
        row-gap: clamp(6px, 2vw, 12px);
        font-family: "Shippori Mincho", serif;

        .groupActivities {
          font-size: clamp(12px, 3.75vw, 14px);
          font-weight: 400;
        }

        .groupName {
          font-size: clamp(2.2rem, 7vw, 2.8rem);
          font-weight: 500;
        }
      }

      .groupnformationItem a {
        color: #fff;
        font-size: clamp(15px, 4.5vw, 18px);
        font-weight: 400;
        @include flex__row;
        align-items: center;
        column-gap: clamp(6px, 2vw, 12px);

        .icon {
          width: clamp(18px, 5.6vw, 24px);
        }
      }

      // 電話番号
      .groupnformationItem:nth-of-type(2) a {
        .icon {
          transform: rotate(30deg);
        }
      }
    }
  }

  // ナビゲーション
  &__nav {
    @include flex__column;
    align-items: center;
    margin-bottom: clamp(32px, 10vw, 56px);
  }

  &__navList {
    height: auto;
    width: 89.5%;
    margin: 0 auto;
    @include flex__column;
    row-gap: clamp(1.6px, 5vw, 24px);
  }

  &__navItem {
    font-size: clamp(1.5rem, 4.7vw, 2rem);
    font-weight: 500;

    a {
      color: #fff;
      padding-bottom: clamp(1.6px, 5vw, 24px);
      box-sizing: border-box;
      width: 100%;
      display: block;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    }

    .icon {
      display: none;
    }
  }
}

// ================================
// 900px~ PC
// ================================
@include mq(l) {
  .header {
    // ハンバーガーボタン
    .hamburger__button {
      display: none;
    }

    // ハンバーガーメニュー非表示
    .hamburger__menu {
      width: auto;
      height: 100%;
      position: static;
      opacity: 1;
      visibility: visible;

      &Wrapper {
        background: transparent;
        transform: translateX(0);
        margin: 0;
        width: auto;
      }

      // ロゴ
      .hamburger__logo {
        display: none;
      }

      // 団体情報
      .groupInformation {
        display: none;
      }
    }

    &__nav {
      position: static;
      width: auto;
      height: auto;
      margin-bottom: 0;
      @include flex__row;
      align-items: center;
      height: 100%;
    }

    &__navList {
      @include flex__row;
      align-items: center;
      column-gap: clamp(40px, 4vw, 56px);
      margin: 0;
      width: 100%;
    }

    &__navItem {
      a {
        font-size: clamp(11px, 1.2vw, 18px);
        padding-bottom: 0;
        border-bottom: 0;
        margin-top: clamp(8px, 0.8vw, 12px);
        padding-bottom: clamp(8px, 0.8vw, 12px);
        box-sizing: border-box;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: $main-color;
          position: absolute;
          bottom: 0;
          transform-origin: left;
          transform: scale(0, 1);
          transition: all 0.4s;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }

      // 下層ページ リンク
      &--sub a {
        color: #000;
      }

      // お問い合わせボタン
      &:last-of-type a {
        padding: clamp(12px, 1.3vw, 16px) clamp(24px, 2.5vw, 32px);
        box-sizing: border-box;
        background: $main-color;
        border-radius: 40px;
        position: relative;
        color: #fff;
        overflow: hidden;
        @include flex__row;
        align-items: center;
        column-gap: clamp(8px, 0.8vw, 12px);
        margin-top: 0;
        transition: all 0.4s;
        border: 1px solid $main-color;

        &::before {
          display: none;
        }

        // ホバー時色変更
        &:hover {
          background: #fff;
          color: #000;
          border: 1px solid #000;
        }

        // アイコン
        .icon {
          display: block;
          margin-top: clamp(1px, 0.1vw, 3px);
          width: clamp(11px, 1.2vw, 20px);
          fill: currentColor;
        }
      }
    }

    // ナビゲーション リンク 色変更
    &.active {
      // ナビゲーション
      .header__navItem a {
        // 下部線
        &::before {
          background: #fff;
        }
      }

      // ナビゲーション
      .header__navItem--sub a {
        color: #fff;

        // 下部線
        &::before {
          background: #fff;
        }
      }
    }
  }
}
